RPCClient/Service References/SoapService/SOAPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ResetGenerator">
        <s:complexType />
      </s:element>
      <s:element name="ResetGeneratorResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetInteger">
        <s:complexType />
      </s:element>
      <s:element name="GetIntegerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetIntegerResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetZero">
        <s:complexType />
      </s:element>
      <s:element name="GetZeroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetZeroResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIntegers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:unsignedInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIntegersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIntegersResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ResetGeneratorSoapIn">
    <wsdl:part name="parameters" element="tns:ResetGenerator" />
  </wsdl:message>
  <wsdl:message name="ResetGeneratorSoapOut">
    <wsdl:part name="parameters" element="tns:ResetGeneratorResponse" />
  </wsdl:message>
  <wsdl:message name="GetIntegerSoapIn">
    <wsdl:part name="parameters" element="tns:GetInteger" />
  </wsdl:message>
  <wsdl:message name="GetIntegerSoapOut">
    <wsdl:part name="parameters" element="tns:GetIntegerResponse" />
  </wsdl:message>
  <wsdl:message name="GetZeroSoapIn">
    <wsdl:part name="parameters" element="tns:GetZero" />
  </wsdl:message>
  <wsdl:message name="GetZeroSoapOut">
    <wsdl:part name="parameters" element="tns:GetZeroResponse" />
  </wsdl:message>
  <wsdl:message name="GetIntegersSoapIn">
    <wsdl:part name="parameters" element="tns:GetIntegers" />
  </wsdl:message>
  <wsdl:message name="GetIntegersSoapOut">
    <wsdl:part name="parameters" element="tns:GetIntegersResponse" />
  </wsdl:message>
  <wsdl:portType name="SoapServiceSoap">
    <wsdl:operation name="ResetGenerator">
      <wsdl:input message="tns:ResetGeneratorSoapIn" />
      <wsdl:output message="tns:ResetGeneratorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInteger">
      <wsdl:input message="tns:GetIntegerSoapIn" />
      <wsdl:output message="tns:GetIntegerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetZero">
      <wsdl:input message="tns:GetZeroSoapIn" />
      <wsdl:output message="tns:GetZeroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIntegers">
      <wsdl:input message="tns:GetIntegersSoapIn" />
      <wsdl:output message="tns:GetIntegersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SoapServiceSoap" type="tns:SoapServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ResetGenerator">
      <soap:operation soapAction="http://tempuri.org/ResetGenerator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInteger">
      <soap:operation soapAction="http://tempuri.org/GetInteger" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetZero">
      <soap:operation soapAction="http://tempuri.org/GetZero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIntegers">
      <soap:operation soapAction="http://tempuri.org/GetIntegers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SoapServiceSoap12" type="tns:SoapServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ResetGenerator">
      <soap12:operation soapAction="http://tempuri.org/ResetGenerator" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInteger">
      <soap12:operation soapAction="http://tempuri.org/GetInteger" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetZero">
      <soap12:operation soapAction="http://tempuri.org/GetZero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIntegers">
      <soap12:operation soapAction="http://tempuri.org/GetIntegers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SoapService">
    <wsdl:port name="SoapServiceSoap" binding="tns:SoapServiceSoap">
      <soap:address location="http://localhost:63510/SOAPService.asmx" />
    </wsdl:port>
    <wsdl:port name="SoapServiceSoap12" binding="tns:SoapServiceSoap12">
      <soap12:address location="http://localhost:63510/SOAPService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>